body{
	
	
	background-color:black;
 

}
.homepage-container {
  position: relative;
  font-family: Arial;
}


.homepagetext{
	color:white;
	text-align:center;
	color: white;
    font-size:25px;
	margin:0;
}
.titletext{
	color:white;
	text-align:center;
	color: white;
    font-size:4vw;
	margin:0;
	margin-bottom:20px;
}
.logo{
	height:40px;
	width:40px;
}
.container-fluid{
	color: white;
}



.mush {
 
  color: white;
  font-size: 9vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  text-align: center;


}


.hidden{
	display:none;
}

.border{
	border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
}

.tool{
	color:#ADD8E6;
	text-align:center;
	
    font-size:4vw;
	margin:0;
	margin-bottom:20px;
}

.pool{
	color:#FFD580;
	text-align:center;
	
    font-size:4vw;
	margin:0;
	margin-bottom:20px;
}

.gool{
	color:#D2042D;
	text-align:center;
	
    font-size:4vw;
	margin:0;
	margin-bottom:20px;
}
	
.fool{
	color:#94E6A1;
	text-align:center;
	
    font-size:4vw;
	margin:0;
	margin-bottom:20px;
}

footer {
  background-color: black;
  padding: 50px;
  text-align: center;
  color: white;
  height: 350px;
  
  p{
	  font-size:10px;
  }
 
  a{
	  text-decoration:none;
	  color:white;
  }  
}