body{
	
	
	 background: url("bg2.jpg");
	background-size:  cover;
    background-repeat: no-repeat;
 

}
.homepage-container {
  position: relative;
  font-family: Arial;
}


.homepagetext{
	color:white;
	text-align:center;
	color: white;
    font-size:2vw;
	margin:0;
}
.logo{
	height:40px;
	width:40px;
}
.container-fluid{
	color: white;
}

<<<<<<< HEAD
.intro-image-container {
  background-image: url("");
  background-size: cover;
  position: relative;

}

.introzoom {
  background-color: black;
  color: white;
  font-size: 9vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  mix-blend-mode: multiply;

}

<<<<<<< HEAD
.hidden{
	display:none;
}
=======
.nav-link{
	
>>>>>>> 79ac40a9848f777b5a33e35ee26991d9360fa2ff
