body{
	
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
  background-position: center;
  

}


.homepagetext{
	color:white;
	text-align:center;
	color: white;
	text-shadow: 2px 2px 2px black;
    font-size:40px;
	margin:0;
}
.logo{
	height:40px;
	width:40px;
}
.container-fluid{
	color: white;
}



.intro-image-container {
  background-image: url("");
  background-size: cover;
  position: relative;
}

.intro-image-container {
  position: relative;
}

.introzoom {
  background-color: black;
  color: white;
  font-size: 9vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  mix-blend-mode: multiply;

}


.hidden{
	display:none;
}



	
.center{
	
}

#gallery{
	width:40%;
	
}
.blue{
	height:768;
	width:600;
}
	

.nav-link{

	
}