body{
	
	
	 background: url("bg2.jpg");
	background-size:  cover;
    background-repeat: no-repeat;
 
 height:100%;
	overflow: none;
	margin:auto;
}
.homepage-container {
  position: relative;
  font-family: Arial;
}


.homepagetext{
	color:white;
	text-align:center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
    font-size:2vw;
}
.logo{
	height:40px;
	width:40px;
}
.container-fluid{
	color: white;
}

<<<<<<< HEAD
.intro-image-container {
  background-image: url("");
  background-size: cover;
  position: relative;
  height: 300px;
}

.introzoom {
  background-color: black;
  color: white;
  font-size: 9vw; 
  font-weight: bold;
  margin: 0 auto;
  text-align: center;


  mix-blend-mode: multiply;

}

.hidden{
	display:none;
}